@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #135bec;
    --color-primary-dark: #0f4bc4;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;
}

*{
    font-family: 'Inter', sans-serif;
}